@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@400;500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css');

body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}

#intro, #exam, #completion {
    padding: 120px 100px;
}

#completion {
    padding-top: 64px;
    padding-bottom: 32px;
}

#exam, #completion {
    display: none;
}

.question img {
    height: 300px;
}

.question {
    margin-bottom: 100px;
}

.question h3, .question img, .question p {
    margin-bottom: 32px;
}

.question p {
    color: #999999;
}

.navbar-brand {
    margin-left: 100px;
}

.test-footer > div {
    padding: 8px 100px;
}

#timer {
    font-size: 2rem;
    font-weight: bold;
}

.logo img {
    height: 1.5em;
}

.logo {
    margin-bottom: 32px;
    color: #123E78;
    vertical-align: middle;
}