<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flag - Generic™ Cookie™ Company™</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <style>
            body {
                background-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple);
                background-repeat: no-repeat;
                background-color: black;
            }
        </style>
    </head>
    <body class="w-100 h-100 bg-light">
        <div class="container my-5 bg-white rounded py-3 shadow">
            <p class="lead text-center m-0">{{message}}</p>
        </form>
    </body>
</html>
